@import "tailwindcss";


@theme {
  --color-background: #0F172A;
  --color-surface: #1E293B;
  --color-primary: #3B82F6;
  --color-accent: #10B981;
  --color-text-main: #F8FAFC;
  --color-text-dim: #94A3B8;
}

:root, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0F172A;
}